//FIXES
//fixing the main content's width
#main-content {
  width: 100%;
}

//fixing the search bar placeholder text as it hugs the left side of the bar

.form-type-textfield input#edit-search-block-form--2 {
  margin-left: 5px;
  border: 1px solid transparent;
}

/* FlexSlider Fixing for Nice Menus dropdown */
.flex-nav-container {
  .flex-direction-nav {
    li a {
    z-index: 1;
  }
  }
  .views-field.views-field-field-link {
    z-index: 1;
  }
}
//Fix for top navigation sizing and last item border-right
.top-header-region {
  nav ul.menu {
    li {
      font-size: .8em;
                 &:last-child {
                        border-right: none;
                 }
                 &:first-child {
                    a {
                        // padding-left: 5em;
                    }
                 }
    }

  }
}
//Fix for slider and menus in mobile view | fixes nice menus for mobile | fixes long titles and the mobile menu overlap
@media screen and (max-width: $display_small_max) {
    // Navigation for regular menus
    .top-header-region nav ul.menu li {
      display: none;
      &:first-child {
        display: block;
      }
    }
    #main-content {
      width: 100%;
    }

    .header-container  {

      #mobile-link {
        z-index: 10;
        height: 65%;
        margin-right: 0;
      }
      .header-region {
        top: 60px;
        width:100%;
      }
        nav[role=navigation] {
            ul.menu {
              z-index: 110 !important;
              //border-top: 1px solid #fff;
                li {
                    a {
                      //color: #fff;
                      //background: $main-menu-background;
                      text-decoration: none;
                      //border-bottom: 1px solid #fff;
                      font-weight: 300 !important;
                      letter-spacing: .08em;
                    }
                    &:first-child {
                        a {
                          border-radius: 0;
                          border-top: 1px solid #fff;
                        }
                      }
                }
            }
          }
        }
              ul.nice-menu-down, ul.nice-menu {
                z-index: 110 !important;
                box-shadow: (rgba(0,0,0, .5) 0 2px 4px);
                li, li.menuparent, li.over.menuparent, li.active-trail.menuparent {
                    float: none;
                    border-right: none;
                    background: none;
                    padding: 0;
                    &:first-child {
                        a {
                          border-radius: 0;
                          border-top: 1px solid #fff;
                        }
                      }

                    a, a:active {
                        text-align: left;
                        padding: 10px 20px;
                        border-bottom: 1px solid #fff;
                        border-right: none;
                        font-weight: 300 !important;
                        font-size: 16px;
                        letter-spacing: .08em;
                        text-decoration: none;
                        background-image: none !important;
                        &:hover {
                            background-image: none;
                      }
          &:after {
      border-top: none;
          }
                    }
                    ul {display:none !important;}
                }
    li a.active:after {
          border-top: none !important;
          border: none;
        }
        li a {
          border-right: none !important;
        }

    }
    .flex-nav-container ul.flex-direction-nav {z-index: 10;}
    .flex-nav-container .views-field.views-field-field-link a {font-size: 14px;}
    .flex-nav-container .views-field.views-field-field-link .field-content {padding: 5px 8px; line-height: 1;}

    ul.quicktabs-tabs.quicktabs-style-zen {
      border-bottom: none;
      float:none;
      li, li.active {
        float: none;
        a, a:hover {
          &:before {
            content: 'View ';
          }
          border: 1px solid #ccc;
          border-radius: 0;
          width:100%
        }
      }
      li.active {
          a.active, a.active:hover {
            padding-bottom: 0;
            margin-bottom: 0;
            &:before {
            content: none;
          }
          }
      }
    }
}
//fix for no styling on em and i tags
em, i {
  font-style: italic;
}
//fixing making image max width of 95%
img {
  max-width: 100%;
}
//puts some spacing in lists
li {
  margin-bottom: 5px;
}
//fixing search sizing
input[type="text"], input[type="password"], input[type="url"], input[type="email"], input.text, input.title, textarea, select {
    font-size: .9em;
}
//fixes control navs in slider
.flex-nav-container .flex-control-nav {
    display: none;
}

//This is for dropdown menus
ul.nice-menu-down {
    border-radius: 0;
    float: none;
    z-index: 109 !important;
    li {
        background-color: transparent;
        border: none;
        &.menuparent {
            background: none;
            a {
                padding-right: 30px;
                background: url("../images/arrow-down.png") no-repeat scroll right center transparent;
            }
            li {
              width: 250px;
              a {
                background-image: none;
              }
            }
        }
        &.over.menuparent, &.active-trail.menuparent {
            a, a.active {
                background: url("../images/arrow-down.png") no-repeat scroll right center transparent;

            }
            li {
              a, a.active {
                background-image: none;
              }
            }
        }
        ul {
            top: auto;
            border: none;
            z-index: 110 !important;
            position: absolute;
            a {
                background-image: none;
                border-top: 1px solid #fff;
                text-decoration: none;
                &:hover {
                  text-decoration: none;
                }
            }
        }
        /*
   &:first-child {
          a {
          border-radius: 5px 0 0 0;
          }
        }
  li {
          &:first-child {
            a {
              border-radius: 0;
            }
          }
        }*/
        a {
            border-right: 1px solid #fff;
            padding: 10px 20px;
            text-decoration: none;
            &:hover, &.active {
                text-decoration: none;
            }
            &.active:after {
              content: ".";
              position: absolute;
              top: 100%;
              left: 0;
              display: block;
              background: none;
              margin: 0 0 0 44%;
              width: 0;
              height: 0;
              font-size: 0;
              line-height: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 5px solid transparent;
            }
        }
    }
}
ul.nice-menu-down li ul li ul {
    top: 0;
    border: 1px solid #fff;
    border-left: none;
    box-shadow: (rgba(0,0,0, .5) 0 2px 4px);
    li {
        border-left: 1px solid #fff;
        &:first-child {
            //border-left: none;
        }
        a {
            border-top: none;
        }
    }
}
//fixes center aligned lists from Views
#main-content .item-list {
  text-align: left;
}

// Adds a search button
/*#search-block-form .form-actions  {
    display: inline;
    position: absolute;
    top: -64px;
    right: 1px;
    input {
        text-indent: -1000px;
        background: url("../images/icon/searchglass.png") no-repeat scroll center transparent;
        width: 30px;
        height: 30px;
        cursor: pointer;
        border-radius: 0px 5px 5px 0px;
        border: 1px solid #ccc;
        &:hover {
            background: url("../images/searchglass-hover.png") no-repeat scroll center $main-menu-hover;
        }
    }
}
.block.block-search .form-item-search-block-form {
    top: -50px;
    height: 30px;
    right: 30px;
    border: 1px solid #ccc;
    background: none;
    border-radius: 5px 0 0 5px !important;
    border-right: none;
    input {
        width: 175px;
    }
}

@media screen and (max-width: $display_small_max) {
    .block.block-search .form-item-search-block-form {
        height: 50px;
    }
    #search-block-form .form-actions {
        top: auto;
        right: auto;
        input {
            height: 50px;
            width: 50px;
        }
    }
}*/

// Display None

.display-none {
  display: none;
}

/*
  * Image handling fixes
  *
*/

.ucsf-base {
  .webedit-left {
    .media-element-container {
      margin-right: 10px;
      img {
        margin-left: 0px;
      }
    }
  }
}

.ucsf-base {
  .media-element-container {
    .field-name-field-image-caption p{
      color: #808080;
      font-size: 12px;
      padding-left: 5px;
      padding-right: 5px;
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: #F5F5F5;
      margin-bottom: 0;
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}

/*
 * Broken Anchor Link Fix
 *
*/

.page {
  overflow: visible; /* overriding the overflow: hidden */
}

.sidebar-first.col, .sidebar-second.col, #main-content {
  padding-bottom: 20px !important; /* overriding the positive padding hack */
  margin-bottom: 0 !important; /* overriding the negative margin hack */
}

.sidebar-second, .sidebar-first{
  box-shadow: none !important; /* overriding the inner box shadow on the sidebars */
}

#main-content {margin-top: 0px;} /* overriding the negative margin. Not needed */

/* box shadow for when there is 1 sidebar */
.one-sidebar #main-content {
  // -webkit-box-shadow: 4px 6px 4px 0px rgba(50, 50, 50, 0.45);
  // -moz-box-shadow:     4px 6px 4px 0px rgba(50, 50, 50, 0.45);
  // box-shadow:         4px 6px 4px 0px rgba(50, 50, 50, 0.45);
}

/* box shaow for when there are two sidebars */
.two-sidebars #main-content {
  // -webkit-box-shadow: 0px 6px 6px 0px rgba(50, 50, 50, 0.45);
  // -moz-box-shadow:     0px 6px 6px 0px rgba(50, 50, 50, 0.45);
  // box-shadow:         0px 6px 6px 0px rgba(50, 50, 50, 0.45);
  margin-top: 0px;
}

/* using padding rather than margin for top and bottom so the background color can cover up the .page box shadow */
.footer-container footer .footer-top {
  margin: 0 auto;
  padding: 1em 0;
}
